.scroll-moving-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .square, .line, .rectangle {
        width: 100px;
        height: 100px;
        transform: rotate(10deg);
        margin: 20px;
    }

    .square {
        border-radius: 50%;
    }
    
    .line {
        width: 8px;
        height: 350px;
        transform: rotate(45deg);
        border-radius: 8px;
    }
    
    .rectangle {
        width: 180px;
        height: 80px;
        transform: rotate(25deg);
    }
}