.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    position: relative;
    @media screen and (max-width: 768px) {
        margin-top: 60px;
    }
    &-advanced {
        padding-top: 270px;
        padding-bottom: 270px;
        height: 204px;
        @media screen and (max-width: 768px) {
            padding-top: 50px;
            padding-bottom: 0;
            height: 130px;
        }
        .hero-scroll-down {
            display: block;
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
        .hero-inner {
            position: fixed;
        }
        h1 {
            font-size: 90px;
            @media screen and (max-width: 768px) {
                font-size: 50px;
            }
        }
    }
    &-inner {
        &-title {
            color: #000;
            &--gradient {
                background-clip: revert-layer;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        img {
            filter: var(--img-filter);
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        &-description {
            max-width: 780px;
            text-align: center;
            margin-top: 20px;
            p {
                letter-spacing: 0.5px;
            }
            @media screen and (max-width: 768px) {
                margin-top: 10px;
            }
        }
        &-buttons {
            margin-top: 40px;
            display: flex;
            align-items: center;
            .apple {
                margin-left: 20px;
            }
        }
    }
    &-scroll-down {
        padding-top: 60px;
        display: none;
        &:hover {
            span {
                border-color: var(--grey3);
                transition: all 0.3s;
                &:before {
                    background-color: var(--grey3);
                    transition: all 0.3s;
                }
            }
        }
        span {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 30px;
            height: 50px;
            margin-left: -15px;
            border: 2px solid var(--grey);
            border-radius: 50px;
            box-sizing: border-box;
            transition: all 0.3s;
            &:before {
                position: absolute;
                top: 10px;
                left: 50%;
                content: '';
                width: 6px;
                height: 6px;
                margin-left: -3px;
                background-color: var(--grey);
                border-radius: 100%;
                -webkit-animation: sdb 2s infinite;
                animation: sdb 2s infinite;
                box-sizing: border-box;
                transition: all 0.3s;
            }
        }
    }
}

@-webkit-keyframes sdb {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }