.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    @media screen and (max-width: 768px) {
        margin-top: 60px;
    }
    &-advanced {
        margin-top: 270px;
        margin-bottom: 270px;
        height: 204px;
        @media screen and (max-width: 768px) {
            margin-top: 50px;
            margin-bottom: 0;
            height: 130px;
        }
        .hero-inner {
            position: fixed;
        }
        h1 {
            font-size: 90px;
            @media screen and (max-width: 768px) {
                font-size: 50px;
            }
        }
    }
    &-inner {
        &-title {
            color: #000;
            &--gradient {
                background-clip: revert-layer;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        img {
            filter: var(--img-filter);
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        &-description {
            max-width: 780px;
            text-align: center;
            margin-top: 20px;
            p {
                letter-spacing: 0.5px;
            }
            @media screen and (max-width: 768px) {
                margin-top: 10px;
            }
        }
        &-buttons {
            margin-top: 40px;
            display: flex;
            align-items: center;
            .apple {
                margin-left: 20px;
            }
        }
    }
}