html,
body {
  padding: 25px 30px;
  margin: 0;
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  background-color: #FBFBFB;
  @media (max-width: 768px) {
    padding: 10px 7px;
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    color: #343434;
    transition: all 0.3s;
}
}

* {
  box-sizing: border-box;
}

h1 {
    font-size: 64px;
    font-family: 'THICCCBOI', THICCCBOI-Medium;
    font-weight: 500;
    background: -webkit-linear-gradient(90deg, #DD5E89 0%, #F7BB97 100%, #F7BB97 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 150%;
  margin: 0;
}

span {
    font-size: 14px;
    color: #aaa;
    transition: all 0.3s;
    letter-spacing: 0.28px;
}

/* Reset default cursor styles */
* {
    cursor: none;
  }
  
  /* Define styles for the custom cursor */
  .cursor {
    position: fixed;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: #fff; /* Adjust the color as needed */
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference; /* This blend mode helps the cursor stand out on various backgrounds */
    z-index: 9999; /* Make sure the cursor stays on top of other elements */
    transform: translate(-50%, -50%);
    .enlarged {
        transform: scale(1.5); /* Adjust the scale factor for enlargement */
    }
  }