/* ../../public/fonts */

@font-face {
  font-family: 'ClashDisplay';
  src: url('../../public/fonts/ClashDisplay/ClashDisplay-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('../../public/fonts/ClashDisplay/ClashDisplay-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('../../public/fonts/ClashDisplay/ClashDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('../../public/fonts/ClashDisplay/ClashDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('../../public/fonts/ClashDisplay/ClashDisplay-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('../../public/fonts/ClashDisplay/ClashDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
    font-family: 'THICCCBOI';
    src: local('THICCCBOI'), url('../../public/fonts/THICCCBOI/THICCCBOI-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'THICCCBOI';
    src: local('THICCCBOI-Light'), url('../../public/fonts/THICCCBOI/THICCCBOI-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'THICCCBOI';
    src: local('THICCCBOI-Medium'), url('../../public/fonts/THICCCBOI/THICCCBOI-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'THICCCBOI';
    src: local('THICCCBOI-Bold'), url('../../public/fonts/THICCCBOI/THICCCBOI-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

   @font-face {
    font-family: 'Respira';
    src: local('Respira-Black'), url('../../public/fonts/Respira-Black.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

