/* ../../public/fonts */

@font-face {
    font-family: 'Roboto', sans-serif;
    src: local('Roboto'), url('../../public/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto', sans-serif;
    src: local('Roboto-Light'), url('../../public/fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto', sans-serif;
    src: local('Roboto-Medium'), url('../../public/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto', sans-serif;
    src: local('Roboto-Bold'), url('../../public/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'THICCCBOI';
    src: local('THICCCBOI'), url('../../public/fonts/THICCCBOI/THICCCBOI-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'THICCCBOI';
    src: local('THICCCBOI-Light'), url('../../public/fonts/THICCCBOI/THICCCBOI-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'THICCCBOI';
    src: local('THICCCBOI-Medium'), url('../../public/fonts/THICCCBOI/THICCCBOI-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'THICCCBOI';
    src: local('THICCCBOI-Bold'), url('../../public/fonts/THICCCBOI/THICCCBOI-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }