html,
body {
  padding: 20px 30px;
  margin: 0;
  color: rgb(21, 21, 21);
  font-family: Bebas Neue;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#three-js {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-filter: blur(70px);
}

h1 {
  font-size: 115px;
}



/* ../../public/fonts */

@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Thin'), local('BebasNeue-Thin'), url('../../public/fonts/bebasneuethin.woff2') format('woff2'), url('../../public/fonts/bebasneuethin.woff') format('woff'), url('../../public/fonts/bebasneuethin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Light'), local('BebasNeue-Light'), url('../../public/fonts/bebasneuelight.woff2') format('woff2'), url('../../public/fonts/bebasneuelight.woff') format('woff'), url('../../public/fonts/bebasneuelight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Book'), local('BebasNeueBook'), url('../../public/fonts/bebasneuebook.woff2') format('woff2'), url('../../public/fonts/bebasneuebook.woff') format('woff'), url('../../public/fonts/bebasneuebook.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('../../public/fonts/bebasneueregular.woff2') format('woff2'), url('../../public/fonts/bebasneueregular.woff') format('woff'), url('../../public/fonts/bebasneueregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('../../public/fonts/bebasneuebold.woff2') format('woff2'), url('../../public/fonts/bebasneuebold.woff') format('woff'), url('../../public/fonts/bebasneuebold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}