.github {
  display: block;
  width: 30px;
  height: 30px;
  background: url('/assets/img/github.svg');
  background-size: 30px 30px;
  margin-right: 30px;
  transition: $transition;
  &:hover {
      filter: var(--filter);
      transition: $transition;
  }
}

.linkedin {
  display: block;
  width: 30px;
  height: 30px;
  background: url('/assets/img/linkedin.svg');
  background-size: 30px 30px;
  transition: $transition;
  &:hover {
      filter: var(--filter);
      transition: $transition;
  }
}

.external {
  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--darkGrey);
    &:hover {
      border: 1px solid var(--darkGrey);
      &::after {
        filter: var(--filter);
      }
    }
    &:after {
      content: '';
      display: block;
      width: 13px;
      height: 13px;
      background: url('/assets/img/external.svg');
      background-size: 13px 13px;
      transition: $transition;
      margin-left: 8px;
    }
  }
}

.apple {
  button {
    display: block;
    width: 25px;
    height: 28px;
    background: url('/assets/img/apple.svg');
    background-size: 25px 28px;
    transition: $transition;
    padding: 0;
    &:hover {
        filter: var(--filter);
        transition: $transition;
    }
  }
}