.github {
    display: block;
    width: 30px;
    height: 30px;
    background: url('/assets/img/github.svg');
    background-size: 30px 30px;
    margin-right: 30px;
    transition: $transition;
    &:hover {
        filter: grayscale(100%) brightness(30%) contrast(120%);
        transition: $transition;
    }
  }

  .linkedin {
    display: block;
    width: 30px;
    height: 30px;
    background: url('/assets/img/linkedin.svg');
    background-size: 30px 30px;
    transition: $transition;
    &:hover {
        filter: grayscale(100%) brightness(30%) contrast(120%);
        transition: $transition;
    }
  }