@import './vars.scss';
@import './fonts.scss';
@import './common.scss';
@import './icons.scss';

//components
@import '~src/components/_Boiler/_Boiler.scss';
@import '~src/components/Hero/Hero.scss';
@import '~src/components/Header/Header.scss';
@import '~src/components/Footer/Footer.scss';
@import '~src/components/StackBlock/StackBlock.scss';
@import '~src/components/ProjectsBlock/ProjectsBlock.scss';
@import '~src/components/MobilePreview/MobilePreview.scss';
@import '~src/components/DesktopPreview/DesktopPreview.scss';
@import '~src/components/Description/Description.scss';

//ui
@import '~src/components/ui/ProjectPreview/ProjectPreview.scss';
@import '~src/components/ui/ScrollMovingAnimation/ScrollMovingAnimation.scss';
@import '~src/components/ui/WideImage/WideImage.scss';
@import '~src/components/ui/Button/Button.scss';
@import '~src/components/ui/Img/Img.scss';
