// File for scss-vars.

$container-blur: 20px;
$transition: all 0.3s ease-in;

$defaultFont: 'ClashDisplay', sans-serif;
$titleFont: 'Respira', Respira-Black;
$titleSecondFont: 'THICCCBOI', THICCCBOI-Medium;