// File for scss-vars.

$bc-color: #fbfbfb;
$dark: #050505;
$darkGrey: #222222;
$grey: #aaaaaa;
$grey2: #8f8f8f;
$grey3: #898989;
$hover: #343434;
$white: #ffffff;

$container-blur: 20px;
$transition: all 0.3s cubic-bezier(0, 0, 0, 1);

$defaultFont: 'Roboto', sans-serif;
$titleFont: 'THICCCBOI', THICCCBOI-Medium;
