.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu {
    ul {
        display: flex;
        list-style-type: none;
        li {
            margin-left: 55px;
            letter-spacing: 2px;
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}