.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu {
    ul {
        display: flex;
        list-style-type: none;
        li {
            margin-left: 20px;
        }
    }
}