.mobile-preview {
    margin-top: 80px;
    @media screen and (max-width: 768px) {
        margin-top: 60px;
        overflow: hidden;
    }
    background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMzUwIDM1MCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz4KICA8ZmlsdGVyIGlkPSdub2lzZUZpbHRlcic+CiAgICA8ZmVUdXJidWxlbmNlIAogICAgICB0eXBlPSdmcmFjdGFsTm9pc2UnIAogICAgICBiYXNlRnJlcXVlbmN5PScyJyAKICAgICAgbnVtT2N0YXZlcz0nMScgCiAgICAgIHN0aXRjaFRpbGVzPSdzdGl0Y2gnLz4KICA8L2ZpbHRlcj4KICAKICA8cmVjdCB3aWR0aD0nMTAwJScgaGVpZ2h0PScxMDAlJyBvcGFjaXR5PScwLjUnIGZpbHRlcj0ndXJsKCNub2lzZUZpbHRlciknLz4KPC9zdmc+');
    &-images {
        display: flex;
        justify-content: center;
        margin-left: 550px;
        @media screen and (max-width: 768px) {
            margin-left: 0;
            display: block;
            overflow: hidden;
        }
        img {
            margin-left: -550px;
            @media screen and (max-width: 768px) {
                margin-left: -210px;
            }
        }
    }
}