.project-preview {
    background-color: rgb(220, 220, 220);
    width: 49.5%;
    height: 400px;
    border-radius: 5px;
    background: rgba(232, 232, 232, 0.50);
    backdrop-filter: blur(20px);
    margin-top: 100px;
  }