.stack-block {
    margin-top: 90px;
    display: flex;
    @media screen and (max-width: 768px) {
        display: block;
        margin-top: 40px;
    }
    &-gradient {
        .stack-block-left {
            &::before {
                content: '';
                position: absolute;
                width: 70%;
                height: 50%;
                margin: auto;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius: 400px;
                background: linear-gradient(90deg, #F7941E 0%, #004E8F 100%);
                filter: blur(75px);
                z-index: 0;
            }
        }
    }
    h2 {
        text-align: center;
        font-size: 20px;
        font-weight: 300;
    }
    &-left {
        width: 50%;
        display: flex;
        position: relative;
        @media screen and (max-width: 768px) {
            width: 100%;
            flex-direction: column;
        }
        &__inner {
            width: 100%;
        }
        &::after {
            content: '';
            width: 1px;
            height: 280px;
            background-color: var(--grey);
            margin: auto;
            @media screen and (max-width: 768px) {
                width: 60%;
                height: 1px;
                background-color: var(--grey);
                margin: 30px auto;
            }
        }
    }
    &-right {
        width: 50%;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    &__text {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 105px;
        height: 100%;
        @media screen and (max-width: 768px) {
            padding: 0px;
        }
        p {
            font-size: 20px;
            line-height: 150%;
            letter-spacing: 0.2px;
            @media screen and (max-width: 768px) {
                font-size: 16px;
                text-align: center;
            }
        }
    }
    &__icons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 40px;
        width: 100%;
        @media screen and (max-width: 768px) {
            padding: 10px;
        }
        h2 {
            text-align: center;
        }
        img {
            padding: 17px;
            max-height: 180px;
            z-index: 2;
            @media screen and (max-width: 768px) {
                max-height: 75px;
                max-width: 150px;
            }
        }
    }
}