// File for scss-vars.
// For example: main colors, paddings and so on.

$dark: #221e1f;
$whiteFont: #fff;
$yellow: #fbd460;
$yellow1: #fde08f;
$yellow2: #fbd460;
$normal: #c69b1c;
$grey: #686868;
$grey2: #c4c4c4;
$grey3: #d8d8d8;
$grey4: #f0f0f0;
$grey5: #f5f5f5;
$grey6: #c6c6c6;
$hover: #745a0b;
$active: #8d7632;

$loadingAnimation: blinking 1.3s infinite;
$defaultFont: 'VisueltPro-Regular', VisueltPro-Regular;
$titleFont: 'VisueltPro-Medium', VisueltPro-Medium;
