.service-preview {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    padding: 2.75rem 3rem 3rem;
    margin-bottom: 80px;
    background-color: var(--darkGrey);
    &:last-child {
        margin-bottom: 0;
    }
    @media screen and (max-width: 768px) {
        padding: 1rem 1.5rem;
        margin-bottom: 0px;
        border-radius: 0;
    }
    &-arrow {
        display: none;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
    &-heading { 
        width: 100%;
        display: flex;
        justify-content: space-between;
        p {
            font-size: 27px;
            font-weight: 500;
            letter-spacing: 0.8px;
            line-height: 150%;
            margin: 0;
            margin-bottom: 60px;
            @media screen and (max-width: 768px) {
                font-size: 20px;
                margin-bottom: 0px;
                padding: 20px 0
            }
        }
        span {
            font-size: 1.1rem;
            font-weight: 500;
            --arrow-size: 0.8rem;
            --arrow-y: -3%;
            --gap: 1rem;
            letter-spacing: 0.30px;
            line-height: 150%;
            margin: 0;
            text-transform: uppercase;
        }
    }
    &-open {
        @media screen and (max-width: 768px) {
            height: auto !important;
            overflow: visible !important;
            opacity: 1 !important;
            padding: 40px 0;
        }
    }
    &-inner {
        @media screen and (max-width: 768px) {
            height: 0;
            overflow: hidden;
            opacity: 0;
            transition: $transition;
        }
        &__description {
            display: none;
            margin-top: 20px;
            @media screen and (max-width: 768px) {
                display: block;
            }
        }
        img {
            width: 100%;
            height: auto;
            max-width: 100%;
            border-radius: 50px;
            @media screen and (max-width: 768px) {
                 border-radius: 30px;
            }
        }
        video {
            width: 100%;
            height: auto;
            max-width: 100%;
            border-radius: 50px;
            @media screen and (max-width: 768px) {
                 border-radius: 30px;
            }
        }
    }
}